@model PruebaGit.Web.Models.AgregarActividad

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 bg-primary">
                <div class="card" style="background-color:aliceblue;color:blue;">
                    <div class="card-body">                        
                        <h4 class="text-center">Agregar Actividad</h4>
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.ID_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ID_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ID_Paciente, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.ID_Empleado, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ID_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ID_Empleado, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Hora, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Actividad_Realizar, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Actividad_Realizar, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Actividad_Realizar, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.ActividadId, "ActividadId", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ActividadId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ActividadId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <p class="form-group col-md-12">
             
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a href="@Url.Action("Index","AgregarActividads1")" class="btn btn-primary">Regresar</a>

                                </p>
                                </div>
                            </div>

                        </div>
                        
                    </div>

                </div>
            </div>
        </div>

       
                        }

                    

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
