@model PruebaGit.Web.Models.Paciente

@{
    ViewBag.Title = "Registrar paciente";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="container text-primary" style=" font-size:15px; font-size:initial">
    <div class="row justify-content-center">
        <div class="col-md-8 bg-primary" style="border-bottom:dashed">
            <div class="card" style="background-color:aliceblue;">
                <div class="form-horizontal">
                    <h3 class="text-center mt-3">Crear un registro para los pacientes</h3>
                    <hr />
                    <div class="form-row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.No_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.No_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.No_Paciente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Nombre_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre_Paciente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.AP_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AP_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AP_Paciente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.AM_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AM_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AM_Paciente, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Fecha_Nacimiento_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Fecha_Nacimiento_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Fecha_Nacimiento_Paciente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Genero_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Genero_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Genero_Paciente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Numero_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Numero_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Numero_Paciente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Enfermedad_Paciente, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Enfermedad_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Enfermedad_Paciente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DoctorId, "DoctorId", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.DropDownList("DoctorId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Crear" class="btn btn-outline-primary" />

                            <a href="@Url.Action("Index")" class="btn btn-outline-primary"> Regresar </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
